.navbar {
  border-radius: 0.5rem;
}
.myborder {
  display: flex;
  margin-top: 10px;
  padding-left: 50px;
}
img {
  width: 150px;
}
.header {
  text-align: center;
}
.contact-us {
  display: flex;
  img {
    width: 350px;
  }
}
input {
  width: 400px;
  height: 30px;
}
select {
  width: 408px;
  height: 35px;
}
.form-group {
  margin: 30px;
  img {
    width: 20px;
  }
}
.form {
  display: grid;
  grid-template-columns: auto auto;
}
.submit {
  text-align: right;
  margin-right: 25px;
}
.btn {
  width: 80px;
  border-radius: 30px;
  height: 40px;
  background-color: rgb(5, 95, 148);
  border-color: white;
}
.text-danger {
  color: red;
}
textarea {
  flex-grow: 4;
}
p {
  text-align: center;
  margin-bottom: 30px;
}
