.navbar {
  border-radius: 0.5rem;
  height: 50px;
}
.myborder {
  display: flex;
  margin-top: 0px;
  padding-left: 50px;
}
img {
  width: 150px;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-us {
  padding: 0 0rem;
  img {
    width: 350px;
  }
}
input {
  height: 50px;
  min-height: -webkit-fill-available;
}
select {
  height: 45px;
  min-height: -webkit-fill-available;
  padding-left: 20px;
}
.form-group {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 50px;
}
.form {
  display: grid;
  grid-template-columns: auto auto auto;
}
.submit {
  text-align: right;
  margin-right: 185px;
}
.text-danger {
  display: grid;
  color: red;
  height: 50px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
p {
  font-family: "Proxima Nova", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.container {
  padding: 0 14rem;
}
textarea {
  margin-left: 28px;
  width: 185px;
  height: 200px;
}
.text-danger1 {
  display: grid;
  color: red;
  margin-left: 27px;
}

.btn1 {
  display: flex;
  margin-right: 35px;
  margin-top: 10px;
  justify-content: flex-end;
  button {
    width: 80px;
    border-radius: 30px;
    height: 40px;
    background-color: rgb(5, 95, 148);
    border: none;
  }
}
.col-span-2 {
  grid-column: 2 / 4;
  width: 100%;
  input {
    width: 80%;
    margin-left: 30px;
  }
  button {
    height: 55px;
    color: blue;
  }
}
