<nav class="navbar navbar-lightbg-light">
  <div class="myborder">
    <h1><img src="/assets/images/edstem_logo.png" /></h1>
  </div>
</nav>
<div class="container">
  <div class="header">
    <div>
      <h2>Let's talk!</h2>
      <p>
        Share your requirements and we'll get back to you with how we can help.
      </p>
    </div>
  </div>
  <form class="form1" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <div class="contact-us">
        <div>
          <img src="/assets/images/contact-us.png" />
        </div>
      </div>

      <div class="col1">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Name*"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submit && f['name'].errors }"
          />

          <div class="text-danger" *ngIf="submit && f['name'].errors">
            Name is required*
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Email*"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submit && f['email'].errors }"
          />
          <div class="text-danger" *ngIf="submit && f['email'].errors">
            Invalid email*
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            placeholder="Phone*"
            class="form-control"
            formControlName="Phone"
            [ngClass]="{ 'is-invalid': submit && f['Phone'].errors }"
          />
          <div class="text-danger" *ngIf="submit && f['Phone'].errors">
            Invalid Number*
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Company*"
            formControlName="Company"
            [ngClass]="{ 'is-invalid': submit && f['Company'].errors }"
          />
          <div class="text-danger" *ngIf="submit && f['Company'].errors">
            Company name required*
          </div>
        </div>
      </div>

      <!-- <div class="col3">
        <div
          class="form-group"
          *ngFor="let value of valuesArray.controls; index as idx"
        >
          <div>
            <input
              type="text"
              name="questions"
              class="formControl"
              placeholder="Questions"
            /><button type="button" (click)="addInput()">+</button
            ><button
              type="button"
              (click)="removeInput(idx)"
              *ngIf="valuesArray.length > 1"
            >
              -
            </button>
          </div>
        </div>
      </div>-->

      <div class="col2">
        <div class="form-group">
          <select
            name="Type of Project"
            placeholder="Type of Project*"
            formControlName="TypeofProject"
            [ngClass]="{ 'is-invalid': submit && f['TypeofProject'].errors }"
          >
            <option value="" hidden>Type of Project</option>
            <option *ngFor="let item of TypeofProject">
              {{ item }}
            </option>
          </select>

          <div class="text-danger" *ngIf="submit && f['TypeofProject'].errors">
            Select type of project*
          </div>
        </div>
        <div class="form-group1">
          <textarea
            class="form-control"
            placeholder="Brief Description of your Projects*"
            formControlName="Description"
            [ngClass]="{ 'is-invalid': submit && f['Description'].errors }"
          ></textarea>
          <span class="text-danger1" *ngIf="submit && f['Description'].errors">
            Description required*
          </span>
        </div>
      </div>
    </div>
    <!--sample div-->
    <div class="line">
      <div
        class="form-group5"
        *ngFor="let value of valuesArray.controls; index as idx"
      >
        <div>
          <input type="text" name="questions" placeholder="Questions" /><button
            type="button"
            (click)="addInput()"
          >
            +</button
          ><button
            type="button"
            (click)="removeInput(idx)"
            *ngIf="valuesArray.length > 1"
          >
            -
          </button>
        </div>
      </div>
    </div>
    <div class="btn1">
      <button class="btn">submit</button>
    </div>
  </form>
</div>
